
<launch>


    <!--    This launch files first set-ups the entire system by configurating this system according the setup.yaml which homes the system
            Afterwards, the system begins the inverse kinematic node and motor_msg_conversion node-->

    <arg name="config_file" default="$(find ethercat_ros_configurator)/config/setup.yaml"/>

    <node name="ethercat_ros_node" pkg="ethercat_ros_configurator" type="ethercat_ros_node" args="$(arg config_file)" output="screen">
    </node>

    <node name = "inverse_kinematic" pkg = "ethercat_ros_configurator" type = "inverse_kinematic.py" output = "screen">
    </node>

    <node name = "motor_msg_conversion" pkg = "ethercat_ros_configurator" type = "motor_msg_conversion.py" output = "screen">
    </node>



</launch>
