<launch>
    <node 
        pkg="ethercat_ros_configurator" 
        type="ethercat_ros_node" 
        name="ethercat_ros_node" 
        output="screen"
        args="/home/bob/tesla_ws/src/Tesla/applications/endoscopy/endoscope_advancer/config/ethercat/mca_setup.yaml"        
        launch-prefix="ethercat_grant">
    </node>
</launch>
